{% for list in list_admin %}
    <a href="{{ list.get_url_edit }}" class="d-flex flex-row justify-content-between align-items-end text-decoration-none border border-primary rounded pt-2 pb-2 shadow p-3 mb-3">
        <div class="d-flex flex-row align-items-center">
            <h3>ID:</h3>
            <h4>{{ list.pk }}</h4>
        </div>
        <h3>|</h3>
        <div class="d-flex flex-row align-items-center">
            <h3>Название:</h3>
            <h4>{{ list.title }}</h4>
        </div>
        <h3>|</h3>
        <div class="d-flex flex-row align-items-center">
            <h3>Опубликовано:</h3>
            <h4>{% if list.is_published == True %} Да {% else %} Нет {% endif %}</h4>
        </div>
    </a>
{% endfor %}